<div class="min-h-screen flex flex-col">
    <header class="h-16 bg-white shadow px-6 flex items-center">
        <img src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_38545a7a3eaee5e994536c7d6f74bffa/lmkr-geographix.png"
            alt="Logo" class="h-13 mr-4" />

    </header>

    <main class="flex-1 p-6 bg-gray-50">
        <p-toast></p-toast>
        <router-outlet></router-outlet>
    </main>

    <footer class="h-16 bg-white text-center text-sm text-gray-500 flex items-center justify-center">
        © 2025
    </footer>
</div>